---
Language: C
BasedOnStyle: Mozilla
IndentWidth: 4
IndentCaseLabels: true
ReflowComments: false
BreakBeforeBraces: Custom
BreakAfterReturnType: Automatic
BraceWrapping:
  AfterStruct: false 
  AfterClass: false
  AfterEnum: false
  AfterCaseLabel: true
  AfterFunction: false 

---
